@model E_Learning_System_2._0.Models.Student

<form id="quiz-form">
<div class="quiz-container">
    <h1>Τεστ για να δουμε τι ξερεις/εμαθες για την τεχνητή νοημοσύνη</h1>
    <hr>
    
    <div class="d-flex">
            <div class="question">
                <p>1. Διαθετετε γνωσεις για νευρωνικα δικτυα?</p>
                <div class="answers">
                    <label>
                        <input type="radio" name="q1" value="a">
                        Ναι
                    </label>
                    <label>
                        <input type="radio" name="q1" value="b">
                        Οχι
                    </label>
                </div>
            </div>

            <div class="question">
                <p>2. Μπορειτε να επιλυσετε προβληματα με την βοηθεια ΑΙ?</p>
                <div class="answers">
                    <label>
                        <input type="radio" name="q2" value="a">
                        ναι
                    </label>
                    <label>
                        <input type="radio" name="q2" value="b">
                        οχι
                    </label>
                   
                </div>
                </div>
                <div class="question">
                <p>3. Μπορειτε να επιλυσετε προβληματα με την βοηθεια ΑΙ?</p>
                    <div class="answers">
                        <label>
                            <input type="radio" name="q3" value="a">
                            ναι
                        </label>
                        <label>
                            <input type="radio" name="q3" value="b">
                            οχι
                        </label>

                    </div>

                    </div>
            <div class="question">
                <p>4. Εχετε καλή κατανόηση και εμπειρία σε γλώσσες προγραμματισμού, όπως Python, Java, C++, που χρησιμοποιούνται για την ανάπτυξη λογισμικού Τεχνητής Νοημοσύνης?</p>
                <div class="answers">
                    <label>
                        <input type="radio" name="q4" value="a">
                       καλά
                    </label>
                    <label>
                        <input type="radio" name="q4" value="b">
                        Οχι καλά
                    </label>
                </div>
            </div>
            </div>
        </div>
        <button type="submit" class="submit-btn">Submit</button>
  </form>

    <div class="result" id="result"></div>