@model E_Learning_System_2._0.Models.Student

<h1>Αλγόριθμοι</h1>
<div>
    <div>
        <div>
            Ως αλγόριθμος  ορίζεται μια πεπερασμένη σειρά ενεργειών, αυστηρά καθορισμένων και εκτελέσιμων σε πεπερασμένο χρόνο, που στοχεύουν στην επίλυση ενός προβλήματος. Πιο απλά (αλγόριθμο) ονομάζουμε μία σειρά από εντολές που έχουν αρχή και τέλος, είναι σαφείς και έχουν ως σκοπό την επίλυση κάποιου προβλήματος.
            Τα βήματα δημιουργίας αλγόριθμου είναι:

            Διατύπωση του προβλήματος
            Κατανόηση του προβλήματος
            Λύση του προβλήματος
            Διατύπωση του αλγόριθμου
            Έλεγχος της λύσης

            Οι αλγόριθμοι θα πρέπει να πληρούν κάποια πρότυπα και να διατυπώνονται με συγκεκριμένο τρόπο.
            Έτσι ένας αλγόριθμος πρέπει να ικανοποιεί τα επόμενα κριτήρια:

            Καθοριστικότητα
            Περατότητα
            Αποτελεσματικότητα
            Επεκτασιμότητα
            Να έχει είσοδο δεδομένων, επεξεργασία και έξοδο αποτελεσμάτων
        </div>
        <div class="myButtons">
            <a class="buttonIndex" asp-action="AlgorithmTest" asp-route-id="@Model.Username"> Κάνε τεστ</a>
        </div>
    </div>