@model E_Learning_System_2._0.Models.Student

<form id="quiz-form">
<div class="quiz-container">
    <h1>Τεστ για να δουμε τι ξερεις/εμαθες για την τεχνητή νοημοσύνη</h1>
    <hr>

        <div class="d-flex">
            <div class="question">
                <p>1. O αλγόριθμος δεν χρειάζεται απαραίτητα είσοδο σωστό ή λαθος</p>
                <div class="answers">
                    <label>
                        <input type="radio" name="q1" value="a">
                        Σωστο
                    </label>
                    <label>
                        <input type="radio" name="q1" value="b">
                        Λαθος
                    </label>
                </div>
            </div>

            <div class="question">
                <p>2.Γνωρίζετε τους βασικόυς αλγόριθμους για short</p>
                <div class="answers">
                    <label>
                        <input type="radio" name="q2" value="a">
                        ναι
                    </label>
                    <label>
                        <input type="radio" name="q2" value="b">
                        οχι
                    </label>
                   
                </div>
                </div>
                <div class="question">
                <p>3. Γνωρίζετε την λογική του διερευε και βασιλευε?</p>
                    < class="answers">
                        <label>
                            <input type="radio" name="q3" value="a">
                            ναι
                        </label>
                        <label>
                            <input type="radio" name="q3" value="b">
                            οχι
                        </label>
                </div>
            </div>
        </div>
    <button type="submit" class="submit-btn">Submit</button>
  </form>

    <div class="result" id="result"></div>
</div>