@model E_Learning_System_2._0.Models.Student

<h1>FrontEnd</h1>
<div>
    <div>
        <div>
            Αποδεδειγμένη εργασιακή εμπειρία σε θέση Προγραμματιστή Front-End
            Πρακτική εμπειρία στις γλώσσες σήμανσης
            Εμπειρία με JavaScript, CSS και jQuery
            Εξοικείωση με τη δοκιμή του προγράμματος περιήγησης και τον εντοπισμό σφαλμάτων
            Σε βάθος κατανόηση της ολόκληρης διαδικασίας ανάπτυξης ιστού (σχεδιασμός, ανάπτυξη και διάθεση)
            Κατανόηση της αισθητικής της διάταξης
            Γνώση των αρχών SEO
            Εξοικείωση με λογισμικό όπως το Adobe Suite, το Photoshop και τα συστήματα διαχείρισης περιεχομένου
            Αποδοτικότητα σε περιβάλλοντα με ταχείς ρυθμούς
            Δεξιότητες ανάλυσης και διεκπεραίωσης πολλών εργασιών ταυτόχρονα
        </div>
        <div class="myButtons">
            <a class="buttonIndex" asp-action="FrontEndTest" asp-route-id="@Model.Username"> Κάνε τεστ</a>
        </div>
    </div>