@model IEnumerable<E_Learning_System_2._0.Models.Student>

@{
    ViewData["Title"] = "ShowAllGrades";
}

<h1>Students</h1>
<br />
<h3>All grades for all courses</h3>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Course
            </th>
            <th>
                Score
            </th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>