@model E_Learning_System_2._0.Models.Student

@{
    ViewData["Title"] = "ShowAllGrades";
}

<h1>Μήχανικός μηχανικής μάθησης</h1>
<br />
<h3>
    Η μηχανική μάθηση είναι ένα υποσύνολο της τεχνητής νοημοσύνης (AI). Επικεντρώνεται στη διδασκαλία των υπολογιστών να μαθαίνουν από τα δεδομένα και να βελτιώνονται με την εμπειρία – αντί να είναι ρητά προγραμματισμένοι να το κάνουν. Στη μηχανική μάθηση, οι αλγόριθμοι εκπαιδεύονται για να βρουν μοτίβα και συσχετίσεις σε μεγάλα σύνολα δεδομένων και να λαμβάνουν τις καλύτερες αποφάσεις και προβλέψεις με βάση αυτή την ανάλυση. Οι εφαρμογές μηχανικής μάθησης βελτιώνονται με τη χρήση και γίνονται πιο ακριβείς όσο περισσότερα δεδομένα έχουν πρόσβαση.



    Οι εφαρμογές της μηχανικής μάθησης βρίσκονται παντού γύρω μας – στα σπίτια μας, στα καλάθια αγορών μας, στα μέσα ψυχαγωγίας μας και στην υγειονομική μας περίθαλψη.
</h3>
<h4>Βασικά μαθήατα/γνώσεις για να γίνει κάποιος μηχανικός μηχανικής μάθησης</h4>
<br />

<div class="myButtons">
    <a class="buttonIndex" asp-action="AI" asp-route-id="@Model.Username"> Τεχνητή νοημοσύνη</a> |

    <a class="buttonIndex" asp-action="Algorithm" asp-route-id="@Model.Username"> Αλγόριθμοι</a>

</div>