@model E_Learning_System_2._0.Models.Student

@{
    ViewData["Title"] = "ShowAllGrades";
}

<h1>ΠΡΟΓΡΑΜΜΑΤΙΣΤΗΣ διαδικτύου</h1>
<br />
<h3>Ο προγραμματιστής διαδικτύου είναι υπέυθυνος για την δημιουργία ιστοσελίδων που θα χρησιμοποιεί ο χρήστης</h3>
<h4>Βασικά μαθήατα/γνώσεις για να γίνει κάποιος προγραμματιστής διαδικτίου</h4>
<br />

<div class="myButtons">
    <a class="buttonIndex" asp-action="FrontEnd" asp-route-id="@Model.Username"> FrontEnd</a> |


    <a class="buttonIndex" asp-action="BackEnd" asp-route-id="@Model.Username"> Βάσεις/BackEnd</a>

</div>