@model E_Learning_System_2._0.Models.Student

@{
    ViewData["Title"] = "ShowAllGrades";
}

<h1>ΠΡΟΓΡΑΜΜΑΤΙΣΤΗΣ ΛΟΓΙΣΜΙΚΟΥ</h1>
<br />
<h3>Ο προγραμματιστής λογισμικού είναι υπέυθυνος για την δημιουργία λογισμικών που θα χρησιμοποιεί ο χρήστης</h3>
<h4>Βασικά μαθήματα/γνώσεις για να γίνει κάποιος προγραμματιστής λογισμικού</h4>
<br />

<div class="myButtons">
    <a class="buttonIndex" asp-action="HumanComputer" asp-route-id="@Model.Username"> Αλληλεπίδραση Ανθρώπου με Υπολογιστή</a> |

    <a class="buttonIndex" asp-action="Software" asp-route-id="@Model.Username"> Τεχνολογία Λογισμικού</a> |

    <a class="buttonIndex" asp-action="Database" asp-route-id="@Model.Username"> Βάσεις</a>
</div>
