@model E_Learning_System_2._0.Models.Student

<h1>Texvoλογία λογισμικού</h1>
<div>
    <div>
        <div>
            Το μάθημα αποτελεί μια εισαγωγή στην Τεχνολογία Λογισμικού, αναδεικνύοντας τα ζητήματα σχεδιασμού, διαχείρισης, ελέγχου και διοίκησης λογισμικού που ανακύπτουν κατά την ανάπτυξη σύνθετων έργων λογισμικού και παρουσιάζει τις πλέον σύγχρονες πρακτικές αντιμετώπισής τους, όπως αυτές απαντώνται στη βιβλιογραφία και στη βιομηχανία. Στο πλαίσιο του μαθήματος καλύπτονται βασικά ζητήματα του κύκλου ζωής του λογισμικού και των μεθοδολογιών ανάπτυξης λογισμικού, δίνοντας έμφαση: (α) στην ευέλικτη μεθοδολογία και ειδικά στην τεχνική Scrum, (β) στη μεθοδολογία DevOps και ειδικά στη διαχείριση των εκδόσεων του λογισμικού και στην αυτοματοποίηση του «χτισίματός» του και της διενέργειας των σεναρίων ελέγχου. Το μάθημα, επίσης, καταπιάνεται με ζητήματα σχεδιασμού και αρχιτεκτονικής σύνθετου κατανεμημένου λογισμικού, καλύπτοντας θέματα ανάλυσης και μοντελοποίησης απαιτήσεων, αντικειμενοστραφούς σχεδιασμού και αρχιτεκτονικών και σχεδιαστικών προτύπων, δίνοντας έμφαση στις αρχιτεκτονικές επιλογές που προκύπτουν βάση του θεωρήματος CAP. Στο μάθημα, τέλος, καλύπτονται και οι πλέον σύγχρονες τεχνικές δημιουργίας γραφικών διεπαφών χρήστη στο διαδίκτυο.
        </div>
        <div class="myButtons">
            <a class="buttonIndex" asp-action="SoftwareTest" asp-route-id="@Model.Username"> Κάνε τεστ</a>
        </div>
    </div>
